__pycache__/
*.py[cod]
.venv/
venv/
.env
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
.aws/credentials
target/
dbt_packages/
logs/
profiles.yml
.user.yml
dist/
build/
*.zip
airflow/logs/
.vscode/
.idea/
.DS_Store
secrets.json
*.pem
